{% extends 'base.html.twig' %}

{% block body %}
    <h1>Issues list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Subject</th>
                <th>Content</th>
                <th>Sendat</th>
                <th>Solved</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Deletedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for issue in issues %}
            <tr>
                <td><a href="{{ path('issue_show', { 'id': issue.id }) }}">{{ issue.id }}</a></td>
                <td>{{ issue.subject }}</td>
                <td>{{ issue.content }}</td>
                <td>{% if issue.sendAt %}{{ issue.sendAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if issue.solved %}Yes{% else %}No{% endif %}</td>
                <td>{% if issue.createdAt %}{{ issue.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if issue.updatedAt %}{{ issue.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if issue.deletedAt %}{{ issue.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('issue_show', { 'id': issue.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('issue_edit', { 'id': issue.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('issue_new') }}">Create a new issue</a>
        </li>
    </ul>
{% endblock %}
