{% extends 'base.html.twig' %}

{% block body %}
    <h1>Issue</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ issue.id }}</td>
            </tr>
            <tr>
                <th>Subject</th>
                <td>{{ issue.subject }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ issue.content }}</td>
            </tr>
            <tr>
                <th>Sendat</th>
                <td>{% if issue.sendAt %}{{ issue.sendAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Solved</th>
                <td>{% if issue.solved %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if issue.createdAt %}{{ issue.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if issue.updatedAt %}{{ issue.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Deletedat</th>
                <td>{% if issue.deletedAt %}{{ issue.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('issue_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('issue_edit', { 'id': issue.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
