{% extends 'base.html.twig' %}

{% block body %}
    <h1>Members list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Isleader</th>
                <th>Isactive</th>
                <th>Isenabled</th>
                <th>Createdat</th>
                <th>Deletedat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <td><a href="{{ path('member_show', { 'id': member.id }) }}">{{ member.id }}</a></td>
                <td>{% if member.isLeader %}Yes{% else %}No{% endif %}</td>
                <td>{% if member.isActive %}Yes{% else %}No{% endif %}</td>
                <td>{% if member.isEnabled %}Yes{% else %}No{% endif %}</td>
                <td>{% if member.createdAt %}{{ member.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if member.deletedAt %}{{ member.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if member.updatedAt %}{{ member.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('member_show', { 'id': member.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('member_edit', { 'id': member.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('member_new') }}">Create a new member</a>
        </li>
    </ul>
{% endblock %}
