{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Birthday</th>
                <th>Createdat</th>
                <th>Deletedat</th>
                <th>Updatedat</th>
                <th>Password</th>
                <th>Username</th>
                <th>Accountexpiredat</th>
                <th>Accountlockedat</th>
                <th>Credentialsexpiredat</th>
                <th>Enabledat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('users_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{% if user.birthday %}{{ user.birthday|date('Y-m-d') }}{% endif %}</td>
                <td>{% if user.createdAt %}{{ user.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if user.deletedAt %}{{ user.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if user.updatedAt %}{{ user.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.username }}</td>
                <td>{% if user.accountExpiredAt %}{{ user.accountExpiredAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if user.accountLockedAt %}{{ user.accountLockedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if user.credentialsExpiredAt %}{{ user.credentialsExpiredAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if user.enabledAt %}{{ user.enabledAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('users_show', { 'id': user.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('users_edit', { 'id': user.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('users_new') }}">Create a new user</a>
        </li>
    </ul>
{% endblock %}
