{% extends 'base.html.twig' %}

{% block body %}
    <h1>Timersettings list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Defaultpomo</th>
                <th>Shortbreak</th>
                <th>Longbreak</th>
                <th>Cleanup</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for timerSetting in timerSettings %}
            <tr>
                <td><a href="{{ path('timersetting_show', { 'id': timerSetting.id }) }}">{{ timerSetting.id }}</a></td>
                <td>{% if timerSetting.defaultPomo %}{{ timerSetting.defaultPomo|date('H:i:s') }}{% endif %}</td>
                <td>{% if timerSetting.shortBreak %}{{ timerSetting.shortBreak|date('H:i:s') }}{% endif %}</td>
                <td>{% if timerSetting.longBreak %}{{ timerSetting.longBreak|date('H:i:s') }}{% endif %}</td>
                <td>{% if timerSetting.cleanUp %}{{ timerSetting.cleanUp|date('H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('timersetting_show', { 'id': timerSetting.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('timersetting_edit', { 'id': timerSetting.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('timersetting_new') }}">Create a new timerSetting</a>
        </li>
    </ul>
{% endblock %}
