{% extends 'base.html.twig' %}

{% block body %}
    <h1>Timersetting</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ timerSetting.id }}</td>
            </tr>
            <tr>
                <th>Defaultpomo</th>
                <td>{% if timerSetting.defaultPomo %}{{ timerSetting.defaultPomo|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Shortbreak</th>
                <td>{% if timerSetting.shortBreak %}{{ timerSetting.shortBreak|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Longbreak</th>
                <td>{% if timerSetting.longBreak %}{{ timerSetting.longBreak|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Cleanup</th>
                <td>{% if timerSetting.cleanUp %}{{ timerSetting.cleanUp|date('H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('timersetting_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('timersetting_edit', { 'id': timerSetting.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
