{% set _route = app.request.attributes.get('_route') %}
<nav class="navbar navbar-full navbar-dark bg-inverse">
    <a class="navbar-brand" href="{{ path('homepage') }}">Pomo</a>
    <ul class="nav navbar-nav">
        <li class="nav-item{% if _route == 'homepage' %} active{% endif %}">
            <a class="nav-link" href="{{ path('homepage') }}">Home</a>
        </li>
        {% if is_granted('ROLE_USER') %}
            <li class="nav-item{% if _route == 'teams_new' %} active{% endif %}">
                <a class="nav-link" href="{{ path('teams_new') }}"><i class="fa fa-file-text-o"></i> New Team</a>
            </li>
            <li class="nav-item{% if _route == 'articles_new' %} active{% endif %}">
                <a class="nav-link" href="{{ path('articles_new') }}"><i class="fa fa-file-text-o"></i> New Article</a>
            </li>
            <li class="nav-item{% if _route == 'images_new' %} active{% endif %}">
                <a class="nav-link" href="{{ path('images_new') }}"><i class="fa fa-file-image-o"></i> New Image</a>
            </li>
        {% endif %}
    </ul>
    <ul class="nav navbar-nav pull-right">
        {% if is_granted('ROLE_USER') %}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('security_logout') }}"><i class="fa fa-sign-out"></i> Logout</a>
            </li>
        {% else %}
            <li class="nav-item{% if _route == 'security_login' %} active{% endif %}">
                <a class="nav-link" href="{{ path('security_login') }}"><i class="fa fa-sign-in"></i> Login</a>
            </li>
            <li class="nav-item{% if _route == 'users_new' %} active{% endif %}">
                <a class="nav-link" href="{{ path('users_new') }}"><i class="fa fa-user-plus"></i> Register</a>
            </li>
        {% endif %}
    </ul>
</nav>