{% extends 'base.html.twig' %}

{%- block body %}
    <div class="jumbotron">
        <h1>NMDAD-III Demo</h1>
    </div>
    {% for post in posts %}
        <article class="card">
            <h1 class="h5 card-header bg-primary">
                {{ post.title }}
                <small class="pull-right">{{ post.createdAt|date('d/m/Y H:i') }}</small>
            </h1>
            {% if post.uri is defined %}
                {{ block('image') }}
            {% endif %}
            {% if post.body is defined %}
                {{ block('article') }}
            {% endif %}
        </article>
    {% endfor %}
{% endblock body %}

{%- block article %}
    <div class="card-block">
        <p>{{ post.body }}</p>
    </div>
    <div class="card-footer">
        <i class="fa fa-file-text-o"></i>
        {{ block('categories') }}
    </div>
{%- endblock article -%}

{%- block image %}
    <div class="card-block">
        <img class="img-fluid img-rounded center-block" src="{{ post.uri }}" alt="{{ post.title }}">
    </div>
    <div class="card-footer">
        <i class="fa fa-file-image-o"></i>
        {{ block('categories') }}
    </div>
{%- endblock image -%}

{%- block categories -%}
    {% for category in post.categories %}
        <span class="tag tag-info">{{ category.name }}</span>
    {% endfor %}
{%- endblock categories -%}