{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pictures list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Source</th>
                <th>Alternatetext</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Deletedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for picture in pictures %}
            <tr>
                <td><a href="{{ path('picture_show', { 'id': picture.id }) }}">{{ picture.id }}</a></td>
                <td>{{ picture.source }}</td>
                <td>{{ picture.alternateText }}</td>
                <td>{{ picture.createdAt }}</td>
                <td>{% if picture.updatedAt %}{{ picture.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if picture.deletedAt %}{{ picture.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('picture_show', { 'id': picture.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('picture_edit', { 'id': picture.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('picture_new') }}">Create a new picture</a>
        </li>
    </ul>
{% endblock %}
