{% extends 'base.html.twig' %}

{% block body %}
    <h1>Picture</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ picture.id }}</td>
            </tr>
            <tr>
                <th>Source</th>
                <td>{{ picture.source }}</td>
            </tr>
            <tr>
                <th>Alternatetext</th>
                <td>{{ picture.alternateText }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ picture.createdAt }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if picture.updatedAt %}{{ picture.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Deletedat</th>
                <td>{% if picture.deletedAt %}{{ picture.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('picture_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('picture_edit', { 'id': picture.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
