{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pomos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Body</th>
                <th>Estimatetime</th>
                <th>Actualtime</th>
                <th>Iscompleted</th>
                <th>Completiontime</th>
                <th>Createdat</th>
                <th>Deletedat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pomo in pomos %}
            <tr>
                <td><a href="{{ path('pomo_show', { 'id': pomo.id }) }}">{{ pomo.id }}</a></td>
                <td>{{ pomo.title }}</td>
                <td>{{ pomo.body }}</td>
                <td>{{ pomo.estimateTime }}</td>
                <td>{{ pomo.actualTime }}</td>
                <td>{% if pomo.isCompleted %}Yes{% else %}No{% endif %}</td>
                <td>{% if pomo.completionTime %}{{ pomo.completionTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if pomo.createdAt %}{{ pomo.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if pomo.deletedAt %}{{ pomo.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if pomo.updatedAt %}{{ pomo.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pomo_show', { 'id': pomo.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('pomo_edit', { 'id': pomo.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pomo_new') }}">Create a new pomo</a>
        </li>
    </ul>
{% endblock %}
