{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pomo</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pomo.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ pomo.title }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ pomo.body }}</td>
            </tr>
            <tr>
                <th>Estimatetime</th>
                <td>{{ pomo.estimateTime }}</td>
            </tr>
            <tr>
                <th>Actualtime</th>
                <td>{{ pomo.actualTime }}</td>
            </tr>
            <tr>
                <th>Iscompleted</th>
                <td>{% if pomo.isCompleted %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Completiontime</th>
                <td>{% if pomo.completionTime %}{{ pomo.completionTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if pomo.createdAt %}{{ pomo.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Deletedat</th>
                <td>{% if pomo.deletedAt %}{{ pomo.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if pomo.updatedAt %}{{ pomo.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pomo_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pomo_edit', { 'id': pomo.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
