{% extends 'base.html.twig' %}

{% block body %}
    <h1>Teams list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Icon</th>
                <th>Createdat</th>
                <th>Deletedat</th>
                <th>Updatedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for team in teams %}
            <tr>
                <td><a href="{{ path('team_show', { 'id': team.id }) }}">{{ team.id }}</a></td>
                <td>{{ team.name }}</td>
                <td>{{ team.icon }}</td>
                <td>{% if team.createdAt %}{{ team.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if team.deletedAt %}{{ team.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if team.updatedAt %}{{ team.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('team_show', { 'id': team.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('team_edit', { 'id': team.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('team_new') }}">Create a new team</a>
        </li>
    </ul>
{% endblock %}
