{% extends 'base.html.twig' %}

{% form_theme login_form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <h1>Login</h1>
    {%- if error -%}
    <div class="alert alert-danger alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        {{ error.message }}
    </div>
    {%- endif -%}
    {{ form_start(login_form) }}
        {{ form_widget(login_form) }}
        <button type="submit" class="btn btn-primary">Login</button>
        <a class="btn btn-secondary-outline pull-right" href="{{ path('homepage') }}">Back</a>
    {{ form_end(login_form) }}
{% endblock %}