{% extends 'base.html.twig' %}

{% block body %}
    <h1>Titles list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Deletedat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for title in titles %}
            <tr>
                <td><a href="{{ path('title_show', { 'id': title.id }) }}">{{ title.id }}</a></td>
                <td>{{ title.name }}</td>
                <td>{% if title.createdAt %}{{ title.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if title.updatedAt %}{{ title.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if title.deletedAt %}{{ title.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('title_show', { 'id': title.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('title_edit', { 'id': title.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('title_new') }}">Create a new title</a>
        </li>
    </ul>
{% endblock %}
