{% extends 'base.html.twig' %}

{% block body %}
    <h1>Title</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ title.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ title.name }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if title.createdAt %}{{ title.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if title.updatedAt %}{{ title.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Deletedat</th>
                <td>{% if title.deletedAt %}{{ title.deletedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('title_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('title_edit', { 'id': title.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
